# Backend Configuration
PORT=5000
MONGODB_URI=mongodb://localhost:27017/polling_engine

# Backend CORS Configuration
CLIENT_URL=http://localhost:5173

# Frontend Configuration
VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000
